<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Products</title>

    <link rel="stylesheet" href="css/style.css">
    <link rel="icon" href="../images/favicon.png">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
         $(document).ready(function() {
            $(".addToCartBtn").on("click", function(e) {
                addToCart();
            });
         });

         function addToCart(){
            quantity = $("#quantity" + ).val();
         }
    </script>
</head>
<body>
<div style="float:right">
    <form th:action="@{/logout}" align="right" name="form1" method="post">
        <label class="logoutLblPos">
            <input name="submit2" type="submit" id="submit2" value="log out">
        </label>
    </form>
</div>
<div class="products" >
    <div method="post">
        <h2>Products</h2>

        <div th:if="${not #lists.isEmpty(products)}">

            <div th:each="product : ${products}">
                <img th:src="${product.pictureUrl}" alt="" ><br>
                <p class = "name"><a th:text="${product.name}  "></a></p>
                <p class = "price">Price: <a th:text="${product.price}"></a> BGN</p><br>
                <input type="text" th:id="'quantity' + ${product.id}">
                <button class = "button button1 addToCartBtn" >Add to cart</button><br>
            </div>

            <form th:action="@{/cart}" method="GET">
                <button class = "button button2">Go to cart</button>
            </form>
        </div>
    </div>
</div>

</body>
</html>